@import "./variables";

img {
  width: 100%;
  object-fit: contain;
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.welcome_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.welcome_description {
  background-color: $primary-color;
}

.description {
  margin: auto auto;
  text-align: center;
  max-width: 70%;
  line-height: 1.5rem;
}

.welcome_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.welcome_logo {
  $white: red;
  width: 200px;
  transition: all 1s;
}

@media screen and (max-width: 800px) {
  .welcome_title {
    margin: 0 .8rem;
    font-size: 2rem;
    text-align: center;
  }

  .description {
    max-width: 100%;
    margin: 0 .8rem;
  }
}