@import "variables";

.MyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  background-color: $dark-color;
  width: 5rem;
  height: 2.5rem;
  padding: 0.2rem 0.5rem;
  border-width: 0;
  border-radius: 8px;
  outline-width: 0;
  color: $white-color;
  transition: all 0.2s;
  cursor: pointer;
  font-family: $font;

  &:hover {
    box-shadow: 0 0 2px 3px transparentize($color: $primary-color, $amount: 0.5);
    transition: all 0.2s;
  }
}

.ghost {
  color: $dark-color;
  background-color: transparent;
  border: 2px solid $dark-color;
}